<meta charset="UTF-8">
<style>
    @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700&subset=cyrillic');
    ._customer-category__wrap {
        max-width: 627px;
        font-family: Roboto, Arial, sans-serif;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    ._customer-category__top {
        padding: 30px;
        background: #f4f4f4;
    }

    ._customer-category__list {
        display: flex !important;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
    }

    ._customer-category__item {
        display: flex !important;
        width: 45%;
    }

    ._customer-category__item_top {
        width: 100%;
        margin-bottom: 35px;
    }

    ._customer-category__item ._customer-category__img-1 {
        width: 40px !important;
        height: 32px !important;
    }

    ._customer-category__item ._customer-category__img-4 {
        width: 40px !important;
        height: 46px !important;
    }

    ._customer-category__item ._customer-category__img-5 {
        width: 40px !important;
        height: 45px !important;
    }

    ._customer-category__block {
        margin-left: 20px;
        margin-top: 7px;
    }

    ._customer-category__item-ttl {
        font-size: 18px;
        line-height: 22px;
        color: #222222;
        font-weight: 600;
        margin-bottom: 10px;
    }

    ._customer-category__item-txt {
        font-size: 15px;
        line-height: 21px;
        color: #666666;
        font-weight: 300;
    }

    ._customer-category__btn {
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background: #607ba8;
        color: #ffffff!important;
        font-weight: 300;
        text-transform: uppercase;
        border-radius: 3px;
        cursor: pointer;
        font-size: 13px;
        display: block;
        text-decoration: none;
    }

    ._customer-category__btn:hover {
        background: #435675;
        color: #ffffff !important;
    }

    ._customer-category__bottom {
        background: #e5e6e6 url("img/block_category/avatar.png") no-repeat 27px 21px;
        padding: 20px 30px 35px 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 30px;
    }

    ._customer-category__question {
        margin-left: 105px;
        padding-right: 20px;
    }

    ._customer-category__question-ttl {
        font-size: 22px;
        color: #000000;
        font-weight: 600;
        margin-bottom: 12px;
        margin-top: 17px;
    }

    ._customer-category__question-txt {
        font-size: 15px;
        line-height: 20px;
        color: #666666;
        margin-bottom: 10px;
    }

    ._customer-category__callback {
        text-align: right;
    }

    ._customer-category__callback a {
        font-size: 17px;
        line-height: 22px;
        font-weight: 700;
        color: #000000;
        text-decoration: none;
        margin-bottom: 10px;
        display: block;
        position: relative;
        padding-left: 20px;
    }

    ._customer-category__callback a:before {
        content: "";
        display: block;
        background: url("img/block_category/phone.png") no-repeat;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 5px;
        left: 0;
    }

    ._customer-category__callback a:hover {
        text-decoration: underline;
    }

    ._customer-category__btn-callback {
        width: 170px;
        height: 40px;
        border: none;
    }

    @media (max-width: 1165px) {
        ._customer-category__bottom {
            display: block !important;
        }
        ._customer-category__callback {
            display: flex !important;
            justify-content: space-around;
            margin-top: 30px;
        }
        ._customer-category__list {
            display: block !important;
        }
        ._customer-category__item {
            width: 100%;
            margin-top: 30px;
        }
    }

</style>

<div class="_customer-category__wrap">
    <div class="_customer-category__top">
        <div class="_customer-category__item _customer-category__item_top">
            <img class="_customer-category__img-1" src="img/block_category/icon-1.png" alt="">
            <div class="_customer-category__block">
                <div class="_customer-category__item-ttl">Прямые поставки</div>
                <div class="_customer-category__item-txt">
                    Из карьеров Казахстана, Киргизии, России, Китая. Более 200 готовых изделий,
                    20 типоразмеров и 5 видов природного камня.
                </div>
            </div>
        </div>
        <div class="_customer-category__list">
            <div class="_customer-category__item">
                <img class="_customer-category__img-4" src="img/block_category/icon-4.png" alt="">
                <div class="_customer-category__block">
                    <div class="_customer-category__item-ttl">Выгодные условия</div>
                    <div class="_customer-category__item-txt">
                        Цены от производителя
                    </div>
                </div>
            </div>
            <div class="_customer-category__item">
                <img class="_customer-category__img-5" src="img/block_category/icon-5.png" alt="">
                <div class="_customer-category__block">
                    <div class="_customer-category__item-ttl">Бесплатная доставка</div>
                    <div class="_customer-category__item-txt">
                        При заказе от 500 м<sup>2</sup>
                    </div>
                </div>
            </div>
        </div>
        <a class="_customer-category__btn" href="/pages/10065-izgotovlenie-izdeliy-iz-naturalnogo-kamnya">Узнать условия</a>
    </div>

    <div class="_customer-category__bottom">
        <div class="_customer-category__question">
            <div class="_customer-category__question-ttl">
                Возникли вопросы?
            </div>
            <div class="_customer-category__question-txt">
                Чтобы сделать заказ или получить подробную консультацию, свяжитесь с менеджерами компании.
            </div>
        </div>
        <div class="_customer-category__callback">
            <a href="tel:">+7(702)292-22-26</a>
            <button class="_customer-category__btn _customer-category__btn-callback js-apress-order-button js-orders-callback-link"
                    data-button-type="order_callback" data-company="99061632" data-company-id="99061632"
                    data-company-name="Elite Stone COMPANY" data-company-name-rest="ООО"
                    data-company-url="http://www.elite-stone.kz/catalog"
                    data-params="{&quot;company_id&quot;:&quot;99061632&quot;}" data-statistics="1"
                    data-type="callback" onclick="yaCounter47579029.reachGoal('megasite_comblock_callback'); return true;">
                Заказать звонок
            </button>
        </div>
    </div>
</div>

